@import '../gia.ui/_settings'

light-font-weight = 100
regular-font-weight = 400
demi-bold-font-weight = 500
medium-bold-font-weight = 600
bold-font-weight = 700
heavy-font-weight = 900
body-color = darken(white, 1)

dark-background-color = #3a3442