html, body
  background body-background
  color body-font-color
  font-family body-font-family
  font-size rem-base
  font-weight body-font-weight
  font-style body-font-style
  padding 0
  margin 0
  
.oxh
  overflow-x hidden

*, *:before, *:after
  box-sizing border-box
  
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td
  margin 0
  padding 0

table
  width 100%
  
img
  max-width 100%
  radius-classes()
  thumbnail-classes()