// Colors
white = #FFFFFF
ghost = #FAFAFA
snow = #F9F9F9
vapor = #F6F6F6
white-smoke = #F5F5F5
silver = #EFEFEF
smoke = #EEEEEE
gainsboro = #DDDDDD
iron = #CCCCCC
base = #AAAAAA
aluminum = #999999
jumbo = #888888
monsoon = #777777
steel = #666666
charcoal = #555555
tuatara = #444444
oil = #333333
jet = #222222
black = #000000
active-color = #556270
active-color = #3cb
secondary-color = smoke
disabled-color = #444
info-color = #4a90e2
success-color = #7ed321
danger-color = #f31a40
warning-color = #f5a623
board-color = #0b1022
note-color = #fc7
facebook-color = #3b5998
twitter-color = #00aced
google-color = #dd4b39
pinterest-color = #cb2027
youtube-color = #e22
body-color = darken(white, 1)
dark-background-color = #3a3442

// Cursors
cursor-crosshair-value = crosshair
cursor-default-value = default
cursor-pointer-value = pointer
cursor-help-value = help
cursor-text-value = text
cursor-not-allowed-value = not-allowed

// Global
font-family-sans-serif = "Lato", "Avenir Next", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif
font-family-serif = Georgia, Cambria, "Times New Roman", Times, serif
font-family-monospace = Consolas, "Liberation Mono", Courier, monospace
font-weight-normal = normal
font-weight-bold = bold
body-background = white
body-font-color = jet
body-font-family = font-family-sans-serif
body-font-weight = font-weight-normal
body-font-style = normal
font-smoothing = antialiased
text-direction = ltr
opposite-direction = right
default-float = left
last-child-float = opposite-direction

// Bases
rem-base = 14px
base-font-size = 14px
base-line-height = 150%
transition-duration = .3s
radius = 2px
round = 9999px

// Gaps & Spaces
gap-sizes = 0, 5px, 10px, 15px, 20px, 25px, 30px
space-sizes = 0, 5px, 10px, 15px, 20px, 25px, 30px