include-breadcrumbs = true

// Breadcrumbs
breadcrumb-padding-horizontal = rem-calc(15)
breadcrumb-padding-left = breadcrumb-padding-horizontal
breadcrumb-padding-right = breadcrumb-padding-horizontal
breadcrumb-padding-vertical = rem-calc(8)
breadcrumb-padding-top = breadcrumb-padding-vertical
breadcrumb-padding-bottom = breadcrumb-padding-vertical
breadcrumb-padding = breadcrumb-padding-top breadcrumb-padding-right breadcrumb-padding-bottom breadcrumb-padding-left
breadcrumb-margin-bottom = paragraph-margin-bottom
breadcrumb-light-background-color = vapor
breadcrumb-dark-background-color = dark-background-color
breadcrumb-function-factor = 10%
breadcrumb-border-size = 1px
breadcrumb-border-style = solid
breadcrumb-light-border-color = darken(breadcrumb-light-background-color, breadcrumb-function-factor)
breadcrumb-dark-border-color = lighten(breadcrumb-dark-background-color, breadcrumb-function-factor)
breadcrumb-radius = radius
breadcrumb-round = round
breadcrumb-default-radius = 0
breadcrumb-font-size = rem-calc(11)
breadcrumb-font-color = charcoal
breadcrumb-font-color-current = oil
breadcrumb-font-color-unavailable = aluminum
breadcrumb-cursor-current = cursor-default-value
breadcrumb-cursor-unavailable = cursor-not-allowed-value
breadcrumb-text-transform = uppercase
breadcrumb-slash = '/'
breadcrumb-slash-color = base
breadcrumb-slash-padding = 0 rem-calc(10px)