include-buttons = true

button-large-padding-horizontal = rem-calc(16)
button-large-padding-vertical = button-large-padding-horizontal * .4
button-large-padding-top = button-large-padding-vertical
button-large-padding-right = button-large-padding-horizontal
button-large-padding-bottom = button-large-padding-vertical
button-large-padding-left = button-large-padding-horizontal

button-medium-padding-horizontal = rem-calc(14)
button-medium-padding-vertical = button-medium-padding-horizontal * .35
button-medium-padding-top = button-medium-padding-vertical
button-medium-padding-right = button-medium-padding-horizontal
button-medium-padding-bottom = button-medium-padding-vertical
button-medium-padding-left = button-medium-padding-horizontal

button-small-padding-horizontal = rem-calc(9)
button-small-padding-vertical = button-small-padding-horizontal * .4
button-small-padding-top = button-small-padding-vertical
button-small-padding-right = button-small-padding-horizontal
button-small-padding-bottom = button-small-padding-vertical
button-small-padding-left = button-small-padding-horizontal

button-extra-small-padding-horizontal = rem-calc(7)
button-extra-small-padding-vertical = button-extra-small-padding-horizontal * .4
button-extra-small-padding-top = button-extra-small-padding-vertical
button-extra-small-padding-right = button-extra-small-padding-horizontal
button-extra-small-padding-bottom = button-extra-small-padding-vertical
button-extra-small-padding-left = button-extra-small-padding-horizontal

button-display = inline-block
button-margin-bottom = include-types ? paragraph-margin-bottom : rem-calc(20)
button-line-height = inherit

button-text-align = center
button-font-family = inherit
button-font-color-light = white
button-font-color-dark = oil

button-large-font-size = 1.1rem
button-medium-font-size = rem-calc(13px)
button-small-font-size = .9rem
button-extra-small-font-size = .8em

button-large-font-weight = normal
button-medium-font-weight = normal
button-small-font-weight =  normal
button-extra-small-font-weight = normal

button-function-factor = 10%
button-border-width = 0
button-border-style = solid

button-radius = radius
button-round = round
button-default-radius = 0

button-disabled-opacity = .75
button-disabled-cursor = cursor-default-value

button-transition = true
button-transition-duration = transition-duration
button-transition-easing = ease