include-content-slider = true

// Content Slider
content-slider-border-size = 1px
content-slider-border-radius = radius
content-slider-inner-height = 500px
content-slider-main-color = #71ad37
content-slider-back-color = #3a3a3a
content-slider-max-slides = 10
content-slider-dot-outer-size = 4px
content-slider-dot-inner-size = 6px
content-slider-dot-distance = 4px
content-slider-dot-distance-top = 10px
content-slider-dot-main-color = content-slider-main-color
content-slider-dot-back-color = content-slider-back-color
content-slider-arrow-width = 40px
content-slider-arrow-height = 32px
content-slider-arrow-distance = 0
content-slider-arrow-color = content-slider-back-color
content-slider-arrow-hover-color = content-slider-main-color
content-slider-transition = true
content-slider-speed = .5s
content-slider-easing = cubic-bezier(.4, 1.3, .65, 1)
