include-dropdowns = true

dropdown-xsmall-width = 160px
dropdown-small-width = 280px
dropdown-medium-width = 400px
dropdown-large-width = 600px
dropdown-xlarge-width = 100%
dropdown-default-width = dropdown-small-width

dropdown-max-width = 250px
dropdown-height = auto
dropdown-max-height = none

dropdown-margin-top = rem-calc(10)
dropdown-margin-left = 0
dropdown-margin-right = 0
dropdown-margin-bottom = 0
dropdown-margin = dropdown-margin-top dropdown-margin-right dropdown-margin-bottom dropdown-margin-left

dropdown-background = white
dropdown-border-style = solid
dropdown-border-width = 1px
dropdown-border-color = gainsboro

dropdown-triangle-size = 6px
dropdown-triangle-color = white
dropdown-triangle-side-offset = 10px

dropdown-content-padding-horizontal = 20px
dropdown-content-padding-vertical = 15px
dropdown-content-padding-top = dropdown-content-padding-vertical
dropdown-content-padding-bottom = dropdown-content-padding-vertical
dropdown-content-padding-left = dropdown-content-padding-horizontal
dropdown-content-padding-right = dropdown-content-padding-horizontal
dropdown-content-padding = dropdown-content-padding-top dropdown-content-padding-right dropdown-content-padding-bottom dropdown-content-padding-left

dropdown-menu-margin = 0 (- dropdown-content-padding-right) 0 (- dropdown-content-padding-left)
dropdown-menu-padding = 0
dropdown-menu-font-color = charcoal
dropdown-menu-link-padding = 2px dropdown-content-padding-left
dropdown-menu-link-hover-background = silver