include-labels = true

// Labels
label-display = inline-block
label-cursor = inherit
label-margin-bottom = 0
label-padding-horizontal = rem-calc(7)
label-padding-left = label-padding-horizontal
label-padding-right = label-padding-horizontal
label-padding-vertical = 0
label-padding-top = label-padding-vertical
label-padding-bottom = label-padding-vertical
label-radius = radius
label-default-radius = 0
label-font-family = inherit
label-font-size = rem-calc(12)
label-font-weight = normal
label-font-color-dark = black
label-font-color-light = white
label-line-height = base-line-height
label-border(color = secondary-color)
  border 1px solid darken(color, 3)