// Media Queries
small-range-lower = 0em
small-range-upper = 40em
medium-range-lower = 40em
medium-range-upper = 64em
large-range-lower = 64em
large-range-upper = 90em
xlarge-range-lower = 90em
xlarge-range-upper = 120em
xxlarge-range-lower = 120em
xxlarge-range-upper = 99999999em
only-screen = 'only screen'
landscape = only-screen + ' and (orientation: landscape)'
portrait = only-screen + ' and (orientation: portrait)'
small-up = only-screen
small-only = only-screen + ' and (max-width: ' + small-range-upper + ')'
medium-up = only-screen + ' and (min-width: ' + medium-range-lower + ')'
medium-only = only-screen + ' and (min-width: ' + medium-range-lower + ') and (max-width: ' + medium-range-upper + ')'
large-up = only-screen + ' and (min-width: ' + large-range-lower + ')'
large-only = only-screen + ' and (min-width: ' + large-range-lower + ') and (max-width: ' + large-range-upper + ')'
xlarge-up = only-screen + ' and (min-width: ' + xlarge-range-lower + ')'
xlarge-only = only-screen + ' and (min-width: ' + xlarge-range-lower + ') and (max-width: ' + xlarge-range-upper + ')'
xxlarge-up = only-screen + ' and (min-width: ' + xxlarge-range-lower + ')'
xxlarge-only = only-screen + ' and (min-width: ' + xxlarge-range-lower + ') and (max-width: ' + xxlarge-range-upper + ')'
small = small-up
medium = medium-up
large = large-up
xlarge = xlarge-up