include-off-screen-menu = true

// Offscreen Menu
off-screen-menu-width = rem-calc(250)
off-screen-menu-background = darken(dark-background-color, 9)
off-screen-menu-transition = true
off-screen-menu-transition-duration = transition-duration
off-screen-menu-transition-easing = ease