include-top-bar = true

top-bar-light-background-color = white
top-bar-dark-background-color = oil
top-bar-default-background-color = white
top-bar-border-bottom = 1px solid smoke
top-bar-fixed-z-index = 1

top-bar-height = rem-calc(50)
top-bar-margin-bottom = 0

top-bar-title-font-weight = font-weight-bold
top-bar-title-font-size = rem-calc(22)

top-bar-link-padding-horizontal = 10px
top-bar-link-padding-left = top-bar-link-padding-horizontal
top-bar-link-padding-right = top-bar-link-padding-horizontal
top-bar-link-padding-vertical = 0
top-bar-link-padding-top = top-bar-link-padding-vertical
top-bar-link-padding-bottom = top-bar-link-padding-vertical