include-types = true

// Typography
header-font-family = body-font-family
header-font-weight = font-weight-normal
header-font-style = body-font-style
header-font-color = body-font-color
header-line-height = 1.4
header-top-margin = .2rem
header-bottom-margin = .5rem
header-text-rendering = optimizeLegibility
h1-font-size = rem-calc(36)
h2-font-size = rem-calc(30)
h3-font-size = rem-calc(24)
h4-font-size = rem-calc(20)
h5-font-size = rem-calc(17)
h6-font-size = rem-calc(14)
h1-font-reduction = rem-calc(10)
h2-font-reduction = rem-calc(10)
h3-font-reduction = rem-calc(5)
h4-font-reduction = rem-calc(5)
h5-font-reduction = 0
h6-font-reduction = 0
subheader-line-height = 1.4
subheader-font-color = lighten(header-font-color, 35%)
subheader-font-weight = font-weight-normal
subheader-top-margin = .2rem
subheader-bottom-margin = .5rem
small-font-size = 75%
small-font-color = lighten(header-font-color, 35%)
paragraph-font-family = inherit
paragraph-font-weight = font-weight-normal
paragraph-font-size = 1rem
paragraph-line-height = 1.6
paragraph-margin-bottom = rem-calc(20)
paragraph-text-rendering = optimizeLegibility
code-color = white
code-font-family = font-family-monospace
code-font-weight = font-weight-normal
code-font-size = rem-calc(13)
code-background-color = board-color
code-border-size = 1px
code-border-style = solid
code-border-color = darken(board-color, 20%)
code-margin-bottom = paragraph-margin-bottom
code-padding = rem-calc(10)
code-default-radius = radius
hr-border-width = 1px
hr-border-style = solid
hr-border-color = smoke
hr-margin = rem-calc(25px) 0 rem-calc(25px)
list-font-family = inherit
list-font-size = paragraph-font-size
list-line-height = paragraph-line-height
list-margin-bottom = paragraph-margin-bottom
list-style-position = outside
list-side-margin = 1.1rem
list-ordered-side-margin = 1.4rem
list-side-margin-no-bullet = 0
list-nested-margin = rem-calc(20)
definition-list-header-weight = font-weight-bold
definition-list-header-margin-bottom = .3rem
definition-list-margin-bottom = paragraph-margin-bottom
blockquote-font-color = lighten(header-font-color, 35%)
blockquote-padding = rem-calc(9) rem-calc(20) 0 rem-calc(19)
blockquote-border-left = 1px solid gainsboro
blockquote-margin-bottom = paragraph-margin-bottom
blockquote-cite-font-size = rem-calc(13)
blockquote-cite-font-color = lighten(header-font-color, 23%)
blockquote-cite-link-color = blockquote-cite-font-color
blockquote-cite-margin = rem-calc(5px) 0 0 0
blockquote-cite-prefix = '\2014 \0020'