include-utilities = true

thumbnail-display = block
thumbnail-border-width = 1px
thumbnail-border-style = solid
thumbnail-border-color = gainsboro
thumbnail-padding-top = 3px
thumbnail-padding-left = thumbnail-padding-top
thumbnail-padding-right = thumbnail-padding-left
thumbnail-padding-bottom = thumbnail-padding-top
thumbnail-background = transparent
thumbnail-default-radius = 3px
thumbnail-radius = 3px
thumbnail-round = round