gap = '-'

space-prefix                                    = 'sp'
offset-prefix                                   = 'os'
padding-prefix                                  = 'p'
margin-prefix                                   = 'm'

left-prefix                                     = 'l'
right-prefix                                    = 'r'
top-prefix                                      = 't'
bottom-prefix                                   = 'b'
horizontal-prefix                               = 'h'
vertical-prefix                                 = 'v'

xsmall-prefix                                   = 'xs'
small-prefix                                    = 'sm'
medium-prefix                                   = 'md'
large-prefix                                    = 'lg'
xlarge-prefix                                   = 'xl'
xxlarge-prefix                                  = 'xxl'

light-class                                     = 'li'
dark-class                                      = 'da'
fixed-class                                     = 'f'

active-class                                    = 'a'
warning-class                                   = 'w'
error-class                                     = 'e'
danger-class                                    = 'd'
info-class                                      = 'i'
success-class                                   = 's'
classes-class                                   = 'cls'
disabled-class                                  = 'dis'
expanded-class                                  = 'ex'
alternate-class                                 = 'alt'

radius-class                                    = 'ra'
round-class                                     = 'rd'
thumbnail-class                                 = 'th'

visibility-show-for-small-only-class            = 'sfso'
visibility-show-for-medium-only-class           = 'sfmo'
visibility-show-for-large-only-class            = 'sflo'
visibility-hide-for-small-only-class            = 'hfso'
visibility-hide-for-medium-only-class           = 'hfmo'
visibility-hide-for-large-only-class            = 'hflo'
visibility-hide-for-small-class                 = 'hfs'
visibility-hide-for-medium-class                = 'hfm'
visibility-hide-for-large-class                 = 'hfl'

type-subheader-class                            = 'sh'
type-list-disc-class                            = 'd'
type-list-circle-class                          = 'c'
type-list-square-class                          = 's'
type-list-no-bullet-class                       = 'nb'

grid-container-class                            = 'ctn'
grid-row-class                                  = 'rw'
grid-column-class                               = 'cl'
grid-centered-class                             = 'ct'
grid-uncentered-class                           = 'uct'

block-grid-class                                = 'bg'

label-class                                     = 'lb'
button-class                                    = 'bt'

dropdown-class                                  = 'dd'
dropdown-content-class                          = 'c'
dropdown-title-class                            = 't'
dropdown-panel-class                            = 'p'

breadcrumb-class                                = 'bc'
breadcrumb-light-class                          = light-class
breadcrumb-dark-class                           = dark-class
breadcrumb-border-class                         = 'bd'
breadcrumb-unavailable-item-class               = 'u'
breadcrumb-current-item-class                   = 'c'

top-bar-class                                   = 'tb'
top-bar-title-area-class                        = 't'
top-bar-title-brand-class                       = 'b'
top-bar-content-area-class                      = 'c'
top-bar-light-class                             = light-class
top-bar-dark-class                              = dark-class
top-bar-fixed-class                             = fixed-class

progress-bar-class															= 'pb'
progress-bar-meter-class												= 'mt'

alert-box-class																	= 'ab'
alert-box-close-class														= 'x'

pagination-class																= 'pg'
pagination-current-class												= 'c'
pagination-unavailable-class										= 'u'

switch-class																		= 'sw'

off-screen-menu-class                           = 'osm'
off-screen-menu-content-class                   = 'osc'
off-screen-menu-fixed-class                     = fixed-class

vertical-menu-class                             = 'vm'
vertical-menu-divider-class                     = 'd'

utility-clearfix-class                          = 'clf'
utility-hidden-class                            = 'h'
utility-left-class                              = 'l'
utility-right-class                             = 'r'
utility-background-image-cover-class            = 'bi'
utility-no-wrap																	= 'nw'
utility-vertical-align-top											= 'vat'
utility-vertical-align-bottom										= 'vab'
utility-vertical-align-middle										= 'vam'
utility-vertical-align-baseline									= 'vabl'
utility-text-left-class                         = 'tl'
utility-text-center-class                       = 'tc'
utility-text-right-class                        = 'tr'
utility-text-justify-class                      = 'tj'
utility-text-transform-uppercase-class          = 'ttu'
utility-text-transform-lowercase-class          = 'ttl'
utility-text-transform-capitalize-class         = 'ttc'
utility-text-transform-none-class               = 'ttn'

helper-class                                    = 'helper'