@import '_components/bases.settings'
@import '_components/functions'
@import '_components/media-queries.settings'
@import '_components/visibility.settings'
@import '_components/types.settings'
@import '_components/grids.settings'
@import '_components/block-grids.settings'
@import '_components/labels.settings'
@import '_components/buttons.settings'
@import '_components/dropdowns.settings'
@import '_components/breadcrumbs.settings'
@import '_components/top-bar.settings'
@import '_components/off-screen-menus.settings'
@import '_components/content-slider.settings'
@import '_components/utilities.settings'

@import '_components/progress-bars.settings'
@import '_components/alert-boxes.settings'
@import '_components/paginations.settings'
@import '_components/switches.settings'

include-helpers = true