@import nib

@import '_keywords'
@import '_settings'

@import '_components/bases'
@import '_components/visibility'
@import '_components/grids'
@import '_components/block-grids'
@import '_components/types'
@import '_components/labels'
@import '_components/buttons'
@import '_components/top-bar'
@import '_components/off-screen-menus'
@import '_components/content-slider'
@import '_components/dropdowns'
@import '_components/breadcrumbs'
@import '_components/utilities'
@import '_components/helpers'

@import '_components/progress-bars'
@import '_components/alert-boxes'
@import '_components/paginations'
@import '_components/switches'
  
ul.vm
  list-style none
  margin 0
  padding 20px 0
  background linear-gradient(top, darken(white, 3), transparent)
  > li
    &.d
      h4
        padding 5px 25px
        font-size rem-calc(12)
        font-weight 600
        text-transform uppercase
        letter-spacing 1px
        margin 15px 0 5px 0
    > a
      padding 6px 25px
      color steel
      display block
      font-size rem-calc(13)
      &:hover
        color white
        background-color info-color