extends _layouts/docs

block var
  - index = 7
  - title = 'Policies'
  - description = title
  - url = '/policies.html'

block content

  section#sensitive-contents
    h1.title Sensitive Contents
    .body
      p TO-DO

  section#cookie
    h1.title Cookie
    .body
      p TO-DO

  section#financial
    h1.title Financial
    .body
      p TO-DO

  section#users-information
    h1.title User's Information
    .body
      p TO-DO