.stats
  .ctn.sm-ph-15.md-ph-20.lg-ph-30
    .rw
      .cl
        ul.bg.sm-2.md-4
          li
            h5.title Our solution for
            ul.menu
              li
                a(href="#") Advertisers
              li
                a(href="#") Publishers
          li
            h5.title Learning
            ul.menu
              li
                a(href="#") Help Center
              li
                a(href="#") Community
              li
                a(href="#") Learn with us
              li
                a(href="#") Ad Innovations
              li
                a(href="#") Think Insights
          li
            h5.title Site Links
            ul.menu
              li
                a(href="/") Homepage
              li
                a(href="#") Why us?
              li
                a(href="#") Success Stories
              li
                a(href="/docs") Documentation
              li
                a(href="#") Blog
            a.bt.d.ra.bug-report(data-remodal-target="bug-report", href="#") Bug Report
          li
            h5.title Find us on
            ul.menu
              li
                a(href="#", target="_blank")
                  span.fa.fa-facebook-square.mr-10
                  | Facebook
              li
                a(href="#", target="_blank")
                  span.fa.fa-twitter-square.mr-10
                  | Twitter
              li
                a(href="#", target="_blank")
                  span.fa.fa-youtube-play.mr-10
                  | Youtube
.copyright
  .ctn.sm-ph-15.md-ph-20.lg-ph-30
    .rw
      .cl.md-6.sm-tr.md-tl
        p Powered by 
          a(href="#")
            strong LionGroup
      .cl.md-6.tr
        p Copyright © 
          a(href="#")
            strong ClickLion
          | . All rights reserved.